.header {
  background: linear-gradient(to left, #fff7e8, #dc9f55);
  border-bottom: 3px solid #fbfbfa;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  font-family: 'Cinzel', serif;
}

.brand {
  font-size: 2.1rem;
  font-weight: 700;
  color: #3b3737;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DESKTOP header */
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
}

.desktop-header .nav-container {
  display: flex;
}

.desktop-header .nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.desktop-header .nav-button {
  background-color: #f6d55c;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  color: #494343;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.desktop-header .nav-button:hover {
  background-color: #f1c860;
  color: #f1efea;
}

.account-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* MOBILE header */
.mobile-header {
  padding: 0.8rem 1.5rem;
}

.mobile-menu-toggle {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #494343;
  margin-left: auto;
}

.mobile-header .nav-container {
  background: linear-gradient(to left, #fffbe8, #f5dbba);
  padding: 1rem 1.5rem;
  border-top: 2px solid #fbfbfa;
}

.mobile-header .nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
}

.mobile-header .nav-button {
  background-color: #f6d55c;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  color: #494343;
  font-weight: 500;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.mobile-header .nav-button:hover {
  background-color: #f1c860;
  color: #f1efea;
}